.btn:hover {
  border: 1px solid blue;
}

.no-decoration:link {
  text-decoration: none;
}

.no-decoration:visited {
  text-decoration: none;
}

.no-decoration:hover {
  text-decoration: none;
}

.no-decoration:active {
  text-decoration: none;
}
