.carousel-container {
  border: 0.25rem solid black;
  padding: 3rem 1rem;
  min-width: 60rem;
  min-height: 75rem;
  display: flex;
  align-items: center;
  position: relative;
}

.fa-less-than,
.fa-greater-than {
  cursor: pointer;
}

.col-full {
  margin: 0 auto;
}

img {
  width: 100%;
}

.circle-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-circle {
  margin: 0 1rem;
}
